h2.vorto {
   font-family: 'Nunito', sans-serif;
   font-size: 3em;
   letter-spacing: 2px;
   margin-bottom: 3px;
   margin-right: 10px;
   display: inline;
}

.streko {
   height: 3px;
   background-color: #343A40;
}

.vorttipo {
   font-style: italic;
   margin-top: 0;
}

.inflekcio-tabelo {
   padding: 3px;
   border: #343A40 solid 2px;

   thead tr th {
      border-bottom: #343A40 solid 1px;
   }

   tbody tr {
      &:nth-child(even) {
         background-color: lightgray;
      }
   }

   td {
      padding: 7px 10px;
   }
}