$silika-negro: #343A40;

.titolo {
   font-family: 'Nunito', sans-serif;
   text-align: center;
   letter-spacing: 3px;

   h1 {
      margin-bottom: 0;
   }
}

.subtitolo {
   font-family: 'Lato', sans-serif;
   margin-top: 0;
   letter-spacing: initial;
}

.serĉilo, .centro {
   text-align: center;
}

.serĉiTeksto {
   border: $silika-negro solid 2px;
   padding: 7px;
   width: 177px;
}

.serĉiButono {
   margin-left: 10px;
   padding: 7px;
   border: $silika-negro solid 2px;
   background-color: transparent;
}

.enhavo {
   max-width: 700px;
   margin: 0 auto;
}

input {
   font-family: 'Lato', sans-serif;
}

a {
   text-decoration: none;
   text-shadow: 0 0 2px $silika-negro;

   &:link, &:visited {
      color: $silika-negro;
   }

   &:hover {
      text-shadow: 0 0 4px $silika-negro;
   }
}